<div id="container">
  <div class="section">
    <ul>
      <% @sections.each do |section| %>
        <h1><%= section.name %></h1>
        <h4><%= section.description %></h4>
      <% end %>
    </ul>
  </div>
</div>
