<h2>
  <% @users.each do |user| %>
    <div id="container">
      <div class="section group">
        <div class="col span_8_of_12">
          <%= link_to "#{user.login}", user %>
        </div>
        <div class="col span_2_of_12">
          <%= link_to "Destroy", { :controller => 'admin_panel', :action => 'destroy_user', :id => user.id } %>
        </div>
        <div class="col span_2_of_12">
          <%= link_to "Turn admin", '#' %>
        </div>
      </div>
    </div>
  <% end %>
</h2>
