<div id="container">
  <div id="container">
    <div class="signup">
      <h1>Sign Up</h1>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <center>
          <%= render 'fields', f: f %>
        </center>
        <%= f.submit "Done!", class: "button success round large" %></center>
      <% end %>
    </div>
  </div>
</div>
