<% @topics.each do |topic| %>
  <div class="section">
    <ul>
      <h1><%= link_to "#{topic.title}", "/sections/topics/"+topic.id.to_s %></h1>
      <h5><%= topic.subtitle %></h5>
    </ul>
  </div>
  <ul></ul> <%# need refactor %>
<% end %>
